<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939669238242-04gd9br1isfabgmb4f1g5s9jqic8f4mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939669238242-04gd9br1isfabgmb4f1g5s9jqic8f4mo</string>
	<key>API_KEY</key>
	<string>AIzaSyDI8e28bcZ0sXWWLSuWpccSu8gTzjVV7ng</string>
	<key>GCM_SENDER_ID</key>
	<string>939669238242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adoptionHero</string>
	<key>PROJECT_ID</key>
	<string>adoptionhero-7612d</string>
	<key>STORAGE_BUCKET</key>
	<string>adoptionhero-7612d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939669238242:ios:d3731ee658ebfe31fa89bb</string>
</dict>
</plist>